header{
  display: flex;
  font-family: Verdana;
  font-size:14px;
  font-weight: bold;
  position: fixed;
  border: 1px solid black;
}

nav li{
  display: inline-block;
}
 nav a{
   color: black;
 }

 .logo{
   color:MediumAquamarine;
   display:inline;
 }

 .column{
   display: flex;
   border: 1px solid black;
 }
.large{
   width: 630px;
    border: 1px solid black;
 }
 .medium{
   width: 300px;
  border: 2px solid black;
 }
 .small{
   width: 240px;
    border: 1px solid black;
 }


.large .part1{
  border: 2px solid black;
}

.large .part2{
  border: 2px solid black;
}

.large .part3{
  border: 2px solid black;
}

.medium .part1{
  border: 2px solid black;
}

.medium .part2{
  border: 2px solid black;
}

.TextOnImage{
  font-family: Georgia;
  font-size: 17px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.MainStory{
  font-family:Georgia;
  font-size:40px;
  font-weight: bold;

}

.Image1{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

.Image2{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  display: flex;
}

.Image3{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.Image4{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
